h1{color: rgb(45, 45, 209);
font-size: 70px;



}
h3{font-size: 50px;
    color: purple;




}
body{font-family: 'Poppins', sans-serif;}

p{font-size: 30px;}
colgroup:read-only

.paragraph{
scroll-padding-inline: 50px;
padding-right: 570px;
font-size: 30px;
}
section{
    display: flex;
    }
    .half-width{ 
        width: 50% 
        
        
    }
    .half-width img{
        width: 100%
    }
.link-button{
    text-decoration: none;
    background-color: rgb(255, 89, 205);
    padding: 10px 40px;
    border-radius: 10px;
    background-image:linear-gradient(purple, orange);
    color: white;
    font-weight: 400;
    font-size: 30px;
}
    
        
    




