h1{color: rgb(0, 207, 180);
font-size: 70px;



}
h3{font-size: 50px;
    color: rgb(126, 0, 126);




}
body{font-family: 'Poppins', sans-serif;}

p
{font-size: 30px;

}

.div{
    color: teal;
}


.paragraph{
scroll-padding-inline: 50px;
padding-right: 570px;
font-size: 30px;
}
section{
    display: flex;
    }
    .half-width{ 
        width: 50% 
        
        
    }
    .half-width img{
        width: 100%
        padding
        border-left
        50px

    }
    .link-button{
    text-decoration: none;
    background-color: rgb(255, 89, 205);
    padding: 10px 40px;
    border-radius: 10px;
    background-image:linear-gradient(rgb(0, 247, 255), rgb(44, 138, 0));
    color: white;

    font-weight: 400;
    font-size: 30px;

   
    
}


    
        
    .top-banner{


    }




